body {
	background-color: #141414;
	font-family: 'Raleway'
}
.jumbotron {
	background-image: url(../image/gradient.jpg);
	margin: 0;
	padding-top: 10px;
}

.jumbotron .reg-button {
	width: 130px;
	margin-top: 10px;
	margin-bottom: 48px;
	padding: 5px;
	border: 2px solid #fff;
	border-radius: 18px;
	text-decoration: none;
	color: #fff;
}

.jumbotron h3 {
	color: #fff;
}

.search-bar input[type=text] {
	color: #141414;
	width: 60%;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 18px;
	font-size: 14px;
	background-color: #fff;
	background-image: url(../image/searchicon.png);
	background-position: 10px 6px;
	background-repeat: no-repeat;
	padding: 10px 20px 10px 40px;
	margin-top: 10px;
}

.navigation-bar {
	font-size: 16px;
	padding-top: 14px; padding-bottom: 14px;
	margin: 0;
	margin-bottom: 10px;
}

.navigation-bar .navbar-item {
	text-decoration: none;
	color: #FFF;
}

.music {
	padding: 0;
	margin-top: 25px;
}

footer {
	margin-top: 20px;
	background-image: url(../image/gradient.jpg);
	font-size: 16px;
	padding-top: 10px;
	color: #FFF;
}
